body {
  font-family: 'Azeret Mono', monospace;
}

/* primary style */

.pmry-btn{
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    padding: 15px 24px;
    color: black;
    font-size: 1.2em;
    font-weight: 600;
    cursor: pointer;

}

.box-shadow{
    box-shadow: 10px 10px 20px #05050534;
}

/* Header Section Style */

.header-section{
    display: flex;
    justify-content: space-between;
    width: 90%;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 20px;
}

.logo-name{
    font-size: 1.8em;
    font-weight: bolder;
}







/* Hero Section Style */

.hero-section{
   background-image: url("../assets/Hero-bg.png");
   background-repeat: no-repeat;
   padding-top: 30px;
   padding-bottom: 50px;
   width: 100%;
 margin-bottom: 100px;
 
}

.hero-itms{
    width: 60%;
    text-align: center;
    align-items: center;
    margin: 0 auto;
}

.hero-title{
    font-size: 2.5em;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 10px;

}

.hero-disc{
    width: 100%;
}

.contact-btn{
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 15px  28px;
    cursor: pointer;
    font-size: large;
    font-weight: bold;
}

/* why web development section */

.why-web-development-section{
     max-width: 90%;
     margin: 0 auto;
    display: grid;
    gap: 20px;
    padding: 50px;
    border-radius: 15px;
    background-color: rgba(78, 77, 74, 0.041);
}
.why-section-title{
    margin: 0 auto;
    font-size: 1.9em;
    font-weight: bold;
    color: rgb(169, 35, 202);
}

.why-section-dic{
    max-width: 65%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 40px;
}



.why-web-development-section img{
     max-width: 100%;
}

.why-box1{
    display: flex;
   gap: 40px;
   max-width: 60%;
   margin: 0 auto;
   padding: 40px 60px;
 border-radius: 40px 0px 0px 40px;
 background: linear-gradient(to right , rgb(255, 255, 255) ,  rgba(255, 254, 250, 0.068));
}

.why-box2{
    display: flex;
   gap: 50px;
    max-width: 60%;
    margin: 0 auto;
    padding: 40px 60px;
 border-radius: 0px 40px 40px 0px;
 background: linear-gradient(to left , rgb(255, 255, 255) ,  rgba(255, 254, 250, 0.164));

}

.why-box3{
    display: flex;
    gap: 40px;
    max-width: 60%;
    margin: 0 auto;
    padding: 40px 60px;
 border-radius: 40px 0px 0px 40px;
 background: linear-gradient(to right , rgb(255, 255, 255) ,  rgba(255, 254, 250, 0.158));
}










.why-box-title{
    max-width: 48%;
    font-family: sans-serif;
    color: rgba(32, 29, 29, 0.897);
}
.why-box1-title{
    max-width: 48%;
     color: rgba(32, 29, 29, 0.897);
}
.why-box2-title{
     color: rgba(32, 29, 29, 0.897);
     max-width: 70%;
}
.why-box-dic{
    max-width: 60%;
    color: #6b6767;
    margin-bottom: 25px;
}

/* inspiration-section style */

.inspiration-section{
    max-width: 90%;
    padding: 50px;
    border-radius: 20px;
    margin: 0 auto;
    margin-top: 50px;
    background-color: #6b676713;
}

.inspiration-title{
    max-width: 20%;
 margin: 0 auto;
 color: #050505;
 font-size: 1.8em;
 font-family: Arial, Helvetica, sans-serif;

margin-bottom: 15px;
}

.inspiration-dic{
    max-width: 48%;
    margin: 0 auto;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 margin-bottom: 20px;
}

.iframe-youtube{
    max-width: 50%;
    border: 1px solid #a49fb877;
    padding: 20px;

    border-radius: 20px;
    margin: 0 auto;

}

iframe{
    min-width: 100%;
     border-radius: 20px;

}

/* skills-card-section style */

.skills-card-section{
    max-width: 90%;
    margin: 0 auto;
    background-color: #08080821;
    border-radius: 20px;
    padding: 48px;
    padding-bottom: 120px;
    padding-top: 80px;
    margin-top: 40px;
    margin-bottom: 50px;
}

.skills-card-section-title{
max-width: 30%;
font-size: 1.8em;
margin: 0 auto;
margin-bottom: 10px;
}

.skills-card-section-dic{
    max-width: 40%;
    margin: 0 auto;
    font-family: cursive;
    text-align: center;
    margin-bottom: 50px;
    
}

.card-1{
    max-width: 20%;
    padding: 20px;
    border-radius: 10px;
    background-color: #1d101027;
    box-shadow: 0 10px 20px #1416143a;
}
.card-1:hover{
    background-color: #8d473142;
     box-shadow: 0 20px 30px #1416145d;
}

.card-2:hover{
    background-color: #313a8d6c;
     box-shadow: 0 20px 30px #1416145d;
}
.skills-card-pm{
    display: flex;
    justify-content: space-around;
}

.card-3:hover{
    background-color: #5a591673;
     box-shadow: 0 20px 30px #1416145d;
}



/* skills-box-section  style*/

.skills-box-section{
    max-width: 90%;
    padding: 50px;
    border-radius: 20px;
    margin: 0 auto;
    background-color: #0303031f;
   margin-bottom: 50px;
}
.skills-box-section-title{
    max-width: 30%;
    font-size: 1.8em;
    font-weight: bold;
    margin: 0 auto;
    margin-bottom: 50px;
    
}

.every-flex{
    display: flex;
    gap: 90px;
    max-width: 100%;
    border: 2px solid #2f2f312f;
    border-radius: 20px;
  align-items: center;
  padding: 20px;
  margin-bottom: 30px;
}



/* Support Section Style */

.support-section{
 max-width: 90%;
 margin: 0 auto;
 border-radius: 20px;
 background-image: url(/assets/handshake.jpg);
 background-repeat: no-repeat;
 background-position: center;
 padding: 50px;
 margin-bottom: 80px;
}

.Support-box-pm{
    max-width: 40%;
    margin: 0 auto;
}

.support-section-title{
  font-size: 1.7em;
  font-weight: 800;
  color: #ffffff;
}
.support-section-dic{
    color: #ffffff7e;
}
.input{
    padding: 15px 80px;
    border-radius: 10px;
    border: none;
    color: #08060670;
}
.input:focus{
    outline: none;
}

.input-btn{
    padding: 14px 30px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

/* Footer Section Style */
.footer-section{
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #0505052c;
    border-radius: 10px;
    padding: 40px;
    align-items: center;
   
}
.footer-section a{
    text-decoration: none;
}

.footer-icon{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    gap: 20px;
}








/* header Section Responsibe */

@media screen  and (max-width : 576px ){

    .header-section{
    background-color: rgba(207, 192, 109, 0.267);
    padding: 10px;
    border-radius: 40px;
    width: 95%;
   
}
    .logo-name{
    font-size: 1.7em;
    font-weight: bolder;
    color: rgba(105, 28, 156, 0.959);
    padding-left: 15px;
}
.pmry-btn{
    background-color: rgba(170, 14, 14, 0.089);
    border: 1px solid rgba(10, 116, 187, 0.651);
    border-radius: 20px ;
    padding: 10px 20px ;
    color: rgba(146, 37, 219, 0.959);
    font-size: 1.2em;
    font-weight: 600;
    cursor: pointer;
}

.resume-btn-container{
    padding-right: 15px;
}
.span{
display: none;
}

/* hero Section Responsibe */


.hero-title{
    font-size: 1.4em;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 10px;

}
.hero-disc{
    width: 100%;
    font-family: serif;
    font-size: 1.2em;
}

.contact-btn{
    background-color: rgb(121, 15, 219);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 15px  45px;
    cursor: pointer;
    font-size: large;
    font-weight: bold;
}

.hero-section{
   background: none;
   background-color: beige;
   border-radius: 20px;
   padding-top: 15px;
   width: 100%;

}


/* Why Web Development??  section style*/
.why-web-development-section{
     max-width: 95%;
    gap: 20px;
    padding: 20px;
    padding-top: 40px;
    border-radius: 20px;
    background-color: rgba(170, 14, 14, 0.089);
}


.why-section-title{
    margin: 0 auto;
    font-size: 1.4em;
    font-weight: bold;
    color: rgb(169, 35, 202);
}

.why-section-dic{
    max-width: 70%;
    font-size: 0.9em;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 40px;
}



.why-web-development-section img{
     max-width: 100%;
}


.why-box1{
    display: grid;
    grid-template-columns: 1fr;
   gap: 40px;
   max-width: 80%;
   padding: 40px 60px;
 border-radius: 120px 0px 120px 10px;
background-color: rgba(207, 192, 109, 0.568);
box-shadow: 0 10px 20px rgba(0, 0, 0, 0.315);
margin-bottom: 40px;
}
.why-box1-photo{
    order: -1;
}
.why-box1-title{
    max-width: 70%;
     color: rgba(41, 39, 39, 0.897);
}
.why-box1-dic{
    max-width:80%;
}
.response-pmry-btn{
    background-color: rgba(68, 212, 24, 0.527);
    border: none;
    color: #3218c7;
    font-family: fantasy;
    font-weight: bolder;
    padding: 10px 100px;
}
.response-pmry-btn:hover{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.219);
}
.why-box2{
  display: grid;
    grid-template-columns: 1fr;
   gap: 40px;
   max-width: 80%;
   padding: 40px 60px;
 border-radius: 120px 20px 120px 20px;
background-color: rgba(207, 192, 109, 0.568);
box-shadow: 0 10px 20px rgba(0, 0, 0, 0.315);
margin-bottom: 40px;
}
.why-box2-title{
     color: rgba(32, 29, 29, 0.747);
     max-width: 90%;
     font-size: 1.2em;
     font-weight: bolder;
}
.why-box2-dic{
    max-width:90%;
    color: #030303e5;
}

.why-box3{
   display: grid;
    grid-template-columns: 1fr;
   gap: 40px;
   max-width: 80%;
   padding: 40px 60px;
 border-radius: 10px 120px 10px 120px;
background-color: rgba(207, 192, 109, 0.568);
box-shadow: 0 10px 20px rgba(0, 0, 0, 0.315);
margin-bottom: 40px;
}
.why-box3-photo{
    order: -1;
}

/* inspiration-section style */

.inspiration-section{
    max-width: 95%;
    padding: 20px;
    border-radius: 20px;
    margin: 0 auto;
    margin-top: 50px;
    background-color: #d3d4af6e;
}

.inspiration-title{
max-width: 40%;
 color: #050505;
 font-size: 1.4em;
}

.inspiration-dic{
    max-width: 70%;
    margin: 0 auto;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 margin-bottom: 20px;
}

.iframe-youtube{
    max-width: 90%;
    border: 1px solid #a49fb877;
    padding: 10px;

    border-radius: 20px;
    margin: 0 auto;

}

iframe{
    max-width: 10%;
     border-radius: 20px;

}

/* skills-card-section style */

.skills-card-section{
    max-width: 90%;
    background-color: #8cb67c48;
    border-radius: 20px;
    padding: 48px;
    padding-bottom: 120px;
    padding-top: 80px;
}

.skills-card-section-title{
max-width: 90%;
font-size: 1.5em;
margin: 0 auto;
margin-bottom: 10px;
display: flex;
justify-content: center;
}

.skills-card-section-dic{
    max-width: 90%;
    text-align: center;
    font-size: 1.2em;
   
    
}

.card-1{
    max-width: 90%;
    padding: 10px;
    border-radius: 10px;
    background-color: #1d101027;
    box-shadow: 0 10px 20px #1416143a;
}
.card-1:hover{
    background-color: #8d473142;
     box-shadow: 0 20px 30px #1416145d;
}

.card-2:hover{
    background-color: #313a8d6c;
     box-shadow: 0 20px 30px #1416145d;
}
.skills-card-pm{
   display: grid;
   grid-template-columns: repeat(2 , 1fr);
  gap: 20px;
  
}

.card-3:hover{
    background-color: #5a591673;
     box-shadow: 0 20px 30px #1416145d;
}

/* skills-box-section  style*/

.skills-box-section-title{
    max-width: 80%;
    display: flex;
    justify-content: center;
    font-size: 1.8em;
    margin: 0 auto;
    margin-bottom: 50px;
    
}

.every-flex{
    gap: 20px;
  
}

/* Support Section Style */

.support-section{
max-width: 100%;
 padding: 10px;

}

.Support-box-pm{
    max-width: 80%;
    margin: 0 auto;
    padding-bottom: 20px;
}

.support-section-title{
 display: flex;
 justify-content: center;
}
.support-section-dic{
    max-width: 100%;
    color: #cfc7c7e0;
    
    
}
.input{
    padding: 15px 60px;
    border-radius: 10px;
    border: none;
    color: #08060670;
}

/* Footer Section Style */


.footer-icon{
    gap: 10px;
}

.copyright{
    max-width: 65%;
    text-align: center;
    font-size: 0.9em;
    font-weight: bold;
}

}




